:root {
  --white-color: rgb(255, 255, 255);
  --faded-green: rgb(172, 243, 193);
  --light-green: rgb(82, 241, 130);
  --deep-green: rgb(4, 139, 45);
  --black-color: rgb(0, 9, 3);
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

